* {
  margin: 0px;
  padding: 0px;
}
header {
  justify-content: space-between;
  align-content: center;
  margin: 0%;
  padding: 0%;
}
body {
  background: url(Images/istockphoto-1253853185-612x612.jpg) no-repeat;
  background-size: cover;
  image-resolution: 1800px;
}
.Logo {
  width: 15vh;
  height: 10vh;
  margin: 0 0%;
  border-radius: 20%;
}
nav {
  width: 100%;
  background: rgb(11, 1, 51, 0.5);
  padding-left: 0%;
  padding-right: 0%;
  align-items: center;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  display: flex;
  margin-bottom: 0 20px;
  padding-bottom: 10px;
  height: 10vh;
}
nav ul {
  list-style: none;
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  justify-self: self-start;
  align-self: center;
  margin-left: 19%;
  padding: 0;
  padding-right: 0%;
  flex-basis: auto;
  flex-grow: 15rem;
}
nav ul li {
  list-style: none;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  flex-basis: 1;
  flex-grow: 15rem;
}
nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-size: 30px;
  font-family: sans-serif;
  margin-right: 20px;
  flex-grow: 15rem;
}
nav ul li a:hover {
  background-color: rgb(87, 98, 241);
  display: block;
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: rgb(251, 255, 255);
  font-weight: bold;
  font-size: 10vh;
  padding-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#SelfieCotainer {
  border: solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Self {
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid;
}
.ContactButton {
  background-color: orange;
  display: flexbox;
  border: grey solid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15rem;
}
.ContactButton a {
  align-self: center;
  justify-self: center;
}

.ContactButton a:hover {
  color: none;
  background-color: transparent;
  text-decoration: none;
}
.Self {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 43%;
  padding-bottom: 10px;
  border-radius: 20px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
  align-items: center;
  color: orange;
}
table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border-collapse: separate;
  border-spacing: 50px 0;
}
table tr {
  width: 100px;
  font-family: sans-serif;
  font-size: 3vh;
  font-weight: 10%;
  color: white;
}
table tr td {
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}
.find {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 137px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 100;
}
.p-aboutme {
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3vh;
}
section article p {
  color: white;
  font-family: sans-serif;
  font-size: 3vh;
  font-weight: 10px;
  margin: 0%;
}
section article {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 20%;
  border: grey solid 20px;
}
.WelcomeP {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.AboutMe {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: white solid;
  margin-bottom: 10px;
}
.find {
  color: orange;
}
.Intro {
  color: rgb(255, 255, 255);
  font-family: serif;
  font-weight: bold;
  font-size: 3.5vh;
}
.SEA {
  color: aqua;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#name {
  color: aqua;
}
