ul li {
  color: white;
  font-size: 2.3vw;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 3%;
}
.port-image {
  max-width: 100%;
  width: 700px;
  height: auto;
  display: block;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 20px;
  padding: 2%;

  box-sizing: border-box;
}
.BoxLink {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 80%;

  display: flex;
  justify-content: center;
}
.Box {
  width: 90%;
  background-color: #9ad1d4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Optional: constrain height only if needed */
.Box img {
  width: 100%;

  height: 100%;
  border-radius: 20px;
}
.Box:hover {
  background-color: #007ea7;
  box-shadow: 0 0 10% 8% #007ea7;
}
.h3Version {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
  align-items: center;
  color: orange;
  font-size: 3.8rem;
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;

  margin-top: 10px;
  padding-top: 20px;
}
.FontFig {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.FontFig img {
  width: 70%;
  height: 70vh;
}
