.container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2%;
}
.Box {
  height: 60vh;
  background-color: #9ad1d4;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.Box article {
  margin: 2%;
}
.Box:hover {
  background-color: #007ea7;

  border-radius: 20px;
}
article p {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 3.2vh;
}
.Box img {
  width: 50vh;
  height: 30vh;
  justify-content: center;
  align-self: center;
  border-radius: 20px;
}
span {
  color: rgb(0, 2, 62);
  font-weight: bold;
}
